
## ignore maven target
**/target/
**/bin/

## ignore eclipse files
**/.settings/
**/.project
**/.classpath


## ignore intelliJ files
*/.idea/
.idea/
*.iml
*/*.iml


## ignore mac files
*/.DS_Store
.DS_Store


## ignore tmp and swp files
*.bak
*.tem
*.temp
*.*~
~*.*
src/main/api/com/yuanhan/yuanhan/bidding/api/entity/InquirySheet.java
